{% macro svg_restore_button() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<polyline points="30 50, 120 50, 120 130" fill="transparent" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>

<line x1="30" y1="50" x2="60" y2="30" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="30" y1="50" x2="60" y2="70" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<polyline points="70 100, 70 170, 170 170, 170 100" fill="transparent" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>

<line x1="70" y1="150" x2="170" y2="150" fill="transparent" stroke-width="10"/>

</svg>
{% endmacro %}

{% macro svg_redo_button() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<polyline points="30 50, 120 50, 120 130" fill="transparent" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>

<line x1="120" y1="130" x2="100" y2="100" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="120" y1="130" x2="140" y2="100" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<polyline points="70 100, 70 170, 170 170, 170 100" fill="transparent" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>

<line x1="70" y1="150" x2="170" y2="150" fill="transparent" stroke-width="10"/>

</svg>
{% endmacro %}

{% macro svg_menu_button() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<rect x="70" y="30" width="60" height="60" stroke-width="10" fill="transparent" stroke-linejoin="round"/>

<rect x="30" y="110" width="60" height="60" stroke-width="10" fill="transparent" stroke-linejoin="round"/>

<rect x="110" y="110" width="60" height="60" stroke-width="10" fill="transparent" stroke-linejoin="round"/>

</svg>
{% endmacro %}

{% macro svg_move_view() %}

<svg class="svg-icon" viewBox="0 0 200 200">

<line x1="100" y1="30" x2="100" y2="170" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="30" y1="100" x2="170" y2="100" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="30" y1="100" x2="50" y2="80" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="30" y1="100" x2="50" y2="120" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="170" y1="100" x2="150" y2="120" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="170" y1="100" x2="150" y2="80" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="100" y1="30" x2="80" y2="50" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="100" y1="30" x2="120" y2="50" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="100" y1="170" x2="80" y2="150" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="100" y1="170" x2="120" y2="150" stroke-width="10" fill="transparent" stroke-linecap="round"/>

</svg>

{% endmacro %}



{% macro svg_restore_transform() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<circle cx="100" cy="100" r="15" fill="transparent" stroke-width="10"/>

<line x1="50" y1="100" x2="80" y2="100" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="120" y1="100" x2="150" y2="100" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="100" y1="50" x2="100" y2="80" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="100" y1="120" x2="100" y2="150" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<path d="M 150 50 A 70 70 0 0 1 150 150" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<path d="M 50 50 A 70 70 0 0 0 50 150" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="50" y1="50" x2="50" y2="75" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="50" y1="50" x2="25" y2="60" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="150" y1="150" x2="150" y2="125" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="150" y1="150" x2="175" y2="140" fill="transparent" stroke-width="10" stroke-linecap="round"/>

</svg>
{% endmacro %}

{% macro svg_clear_canvas() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<path d="M 50 50 A 70 70 0 1 1 30 100" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="50" y1="50" x2="60" y2="20" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="50" y1="50" x2="80" y2="50" fill="transparent" stroke-width="10" stroke-linecap="round"/>

</svg>
{% endmacro %}

{% macro svg_close_menu() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<line x1="50" y1="50" x2="150" y2="150" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="150" y1="50" x2="50" y2="150" stroke-width="10" fill="transparent" stroke-linecap="round"/>

</svg>
{% endmacro %}

{% macro svg_switch_construct() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<circle cx="100" cy="100" r="15" fill="transparent" stroke-width="10"/>

<circle cx="160" cy="50" r="15" fill="transparent" stroke-width="10"/>

<path d="M 150 37 A 80 80 0 1 0 170 60" stroke-width="10" fill="transparent"/>

<line x1="115" y1="88" x2="145" y2="62" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="175" y1="37" x2="200" y2="15" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="85" y1="114" x2="0" y2="188" stroke-width="10" fill="transparent" stroke-linecap="round"/>

</svg>
{% endmacro %}

{% macro svg_switch_overview() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<line x1="50" y1="100" x2="80" y2="30" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<circle cx="120" cy="70" r="25" fill="transparent" stroke-width="10"/>

<polyline points="30 80, 30 170, 170 170, 170 80" fill="transparent" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>

<line x1="30" y1="150" x2="170" y2="150" fill="transparent" stroke-width="10"/>

<line x1="30" y1="130" x2="170" y2="130" fill="transparent" stroke-width="10"/>

</svg>
{% endmacro %}

{% macro svg_design() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<polygon points="
40 80, 
150 80, 
160 170, 
20 170" 
fill="transparent" stroke-width="10"  stroke-linejoin="round"/>

<line x1="100" y1="30" x2="60" y2="130" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="100" y1="30" x2="140" y2="130" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<ellipse cx="100" cy="130" rx="40" ry="20" fill="transparent" stroke-width="10"/>

</svg>
{% endmacro %}

{% macro svg_explore() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<circle cx="100" cy="100" r="15" fill="transparent" stroke-width="10"/>

<ellipse cx="100" cy="100" rx="80" ry="40" fill="transparent" stroke-width="10"/>

<ellipse cx="100" cy="100" rx="80" ry="40" fill="transparent" stroke-width="10" transform="rotate(-60 100 100)"/>

<ellipse cx="100" cy="100" rx="80" ry="40" fill="transparent" stroke-width="10" transform="rotate(60 100 100)"/>

</svg>
{% endmacro %}



{% macro svg_screenshot() %}
<svg class="svg-icon" viewBox="0 0 200 200">

<line x1="130" y1="150" x2="170" y2="150" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="150" y1="130" x2="150" y2="170" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<polyline points="150 110, 150 30, 30 30, 30 150 ,110 150" stroke-width="10" fill="transparent" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="15,20"/>

</svg>
{% endmacro %}



{% macro svg_move_tool() %}
<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<polygon points="
50 30, 
160 130, 
110 130, 
130 180, 
110 180, 
90 130, 
50 160" 
fill="transparent" stroke-width="10"  stroke-linejoin="round"/>

</svg>
{% endmacro %}

{% macro svg_point_tool() %}
<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<circle cx="100" cy="100" r="15" fill="transparent" stroke-width="10"/>

</svg>
{% endmacro %}

{% macro svg_eraser_tool() %}
<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<polygon points="
50 110, 
120 40, 
160 80, 
100 140, 
80 140" 
fill="transparent" stroke-width="10"  stroke-linejoin="round"/>

<line x1="40" y1="160" x2="160" y2="160" fill="transparent" stroke-width="10" stroke-linecap="round"/>

</svg>
{% endmacro %}

{% macro svg_line_tool() %}
<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<circle cx="60" cy="140" r="15" fill="transparent" stroke-width="10"/>

<circle cx="140" cy="60" r="15" fill="transparent" stroke-width="10"/>

<line x1="70" y1="130" x2="130" y2="70" stroke-width="10"/>

<line x1="155" y1="45" x2="180" y2="20" stroke-width="10" stroke-linecap="round"/>

<line x1="20" y1="180" x2="45" y2="155" stroke-width="10" stroke-linecap="round"/>

</svg>
{% endmacro %}

{% macro svg_ray_tool() %}
<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<circle cx="50" cy="150" r="15" fill="transparent" stroke-width="10"/>

<circle cx="140" cy="60" r="15" fill="transparent" stroke-width="10"/>

<line x1="60" y1="140" x2="130" y2="70" stroke-width="10"/>

<line x1="155" y1="45" x2="180" y2="20" stroke-width="10" stroke-linecap="round"/>

</svg>
{% endmacro %}

{% macro svg_line_segment_tool() %}
<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<circle cx="50" cy="150" r="15" fill="transparent" stroke-width="10"/>

<circle cx="150" cy="50" r="15" fill="transparent" stroke-width="10"/>

<line x1="60" y1="140" x2="140" y2="60" stroke-width="10"/>

</svg>
{% endmacro %}

{% macro svg_circle_tool() %}
<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<circle cx="100" cy="100" r="15" fill="transparent" stroke-width="10"/>

<circle cx="160" cy="50" r="15" fill="transparent" stroke-width="10"/>

<path d="M 150 37 A 80 80 0 1 0 170 60" stroke-width="10" fill="transparent"/>

</svg>
{% endmacro %}

{% macro svg_intersection_tool() %}
<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<circle cx="100" cy="85" r="15" fill="transparent" stroke-width="10"/>

<path d="M 115 100 A 200 200 0 0 1 160 180" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<path d="M 85 72 A 200 200 0 0 0 20 40" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<path d="M 85 100 A 200 200 0 0 0 40 180" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<path d="M 115 72 A 200 200 0 0 1 180 40" stroke-width="10" fill="transparent" stroke-linecap="round"/>

</svg>
{% endmacro %}

{% macro svg_any_geometry() %}

<svg class="svg-icon" viewBox="0 0 200 200">

<line x1="30" y1="170" x2="80" y2="40" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<circle cx="130" cy="110" r="40" fill="transparent" stroke-width="10"/>

</svg>

{% endmacro %}

{% macro svg_parallel_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<line x1="100" y1="170" x2="170" y2="30" stroke-width="10" stroke-linecap="round"/>

<line x1="30" y1="170" x2="100" y2="30" stroke="rgb(128, 200, 255)" stroke-width="10" stroke-linecap="round"/>

</svg>

{% endmacro %}

{% macro svg_perpendicular_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<line x1="100" y1="30" x2="100" y2="170" stroke="rgb(128, 200, 255)" stroke-width="10" stroke-linecap="round"/>

<line x1="30" y1="170" x2="170" y2="170" stroke-width="10" stroke-linecap="round"/>

</svg>

{% endmacro %}

{% macro svg_perpendicular_bisector_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<circle cx="40" cy="100" r="15" fill="transparent" stroke-width="10"/>

<circle cx="160" cy="100" r="15" fill="transparent" stroke-width="10"/>

<line x1="60" y1="100" x2="140" y2="100" stroke-width="10" stroke-linecap="round"/>

<line x1="100" y1="30" x2="100" y2="170" stroke="rgb(128, 200, 255)" stroke-width="10" stroke-linecap="round"/>

</svg>

{% endmacro %}

{% macro svg_angle_bisector_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<path d="M 130 100 A 70 70 0 0 0 120 50" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<path d="M 115 100 A 50 50 0 0 1 100 140" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="30" y1="100" x2="170" y2="100" stroke="rgb(128, 200, 255)" stroke-width="10" stroke-linecap="round"/>

<line x1="30" y1="100" x2="150" y2="170" stroke-width="10" stroke-linecap="round"/>

<line x1="30" y1="100" x2="150" y2="30" stroke-width="10" stroke-linecap="round"/>

</svg>

{% endmacro %}

{% macro svg_compass_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<line x1="115" y1="88" x2="162" y2="52" stroke="rgb(128, 200, 255)" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<circle cx="100" cy="100" r="15" fill="transparent" stroke-width="10"/>

<circle cx="100" cy="100" r="80" fill="transparent" stroke-width="10"/>

</svg>

{% endmacro %}

{% macro svg_middle_point_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<circle cx="50" cy="150" r="15" fill="transparent" stroke-width="10"/>

<circle cx="150" cy="50" r="15" fill="transparent" stroke-width="10"/>

<circle cx="100" cy="100" r="15" stroke="rgb(128, 200, 255)" fill="transparent" stroke-width="10"/>

</svg>

{% endmacro %}

{% macro svg_three_point_circle_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<path d="M 115 20 A 80 80 0 0 0 35 145" stroke="rgb(128, 200, 255)" stroke-width="10" fill="transparent"/>

<path d="M 55 165 A 80 80 0 0 0 150 160" stroke="rgb(128, 200, 255)" stroke-width="10" fill="transparent"/>

<path d="M 170 140 A 80 80 0 0 0 140 30" stroke="rgb(128, 200, 255)" stroke-width="10" fill="transparent"/>

<circle cx="125" cy="25" r="15" fill="transparent" stroke-width="10"/>

<circle cx="45" cy="155" r="15" fill="transparent" stroke-width="10"/>

<circle cx="160" cy="150" r="15" fill="transparent" stroke-width="10"/>

</svg>

{% endmacro %}

{% macro svg_style_button() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<polyline points="40 170, 40 100, 80 100, 80 30, 120 30, 120 100, 160 100, 160 170" fill="transparent" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>

<line x1="60" y1="130" x2="60" y2="170" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="80" y1="130" x2="80" y2="170" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="100" y1="130" x2="100" y2="170" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="120" y1="130" x2="120" y2="170" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="140" y1="130" x2="140" y2="170" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="40" y1="130" x2="160" y2="130" fill="transparent" stroke-width="10" stroke-linecap="round"/>

</svg>

{% endmacro %}

{% macro svg_three_point_angle_bisector_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<path d="M 130 100 A 70 70 0 0 0 120 50" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<path d="M 115 100 A 50 50 0 0 1 100 140" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="50" y1="100" x2="170" y2="100" stroke="rgb(128, 200, 255)" stroke-width="10" stroke-linecap="round"/>

<line x1="45" y1="110" x2="140" y2="165" stroke-width="10" stroke-linecap="round" stroke-dasharray="20,20"/>

<line x1="45" y1="90" x2="140" y2="35" stroke-width="10" stroke-linecap="round" stroke-dasharray="20,20"/>

<circle cx="30" cy="100" r="15" fill="transparent" stroke-width="10"/>

<circle cx="150" cy="30" r="15" fill="transparent" stroke-width="10"/>

<circle cx="150" cy="170" r="15" fill="transparent" stroke-width="10"/>

</svg>

{% endmacro %}

{% macro svg_three_point_compass_construct() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<line x1="40" y1="70" x2="70" y2="40" stroke-width="10" fill="transparent"/>

<circle cx="30" cy="80" r="15" fill="transparent" stroke-width="10"/>

<circle cx="80" cy="30" r="15" fill="transparent" stroke-width="10"/>

<line x1="130" y1="110" x2="170" y2="70" stroke="rgb(128, 200, 255)" stroke-width="10" fill="transparent"/>

<circle cx="120" cy="120" r="15" fill="transparent" stroke-width="10"/>

<circle cx="120" cy="120" r="70" fill="transparent" stroke-width="10"/>

</svg>

{% endmacro %}



{% macro svg_switch_edit_button() %}

<svg class="button-icon-toolbar svg-icon" viewBox="0 0 200 200">

<polygon points="
60 100, 
120 40, 
160 80, 
100 140, 
60 140" 
fill="transparent" stroke-width="10"  stroke-linejoin="round"/>

<line x1="60" y1="100" x2="100" y2="140" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="100" y1="60" x2="140" y2="100" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="40" y1="160" x2="160" y2="160" fill="transparent" stroke-width="10" stroke-linecap="round"/>

</svg>

{% endmacro %}

{% macro svg_play_start_button() %}

<svg class="svg-icon" viewBox="0 0 200 200">

<polygon points="
50 30, 
160 100, 
50 170"
fill="transparent" stroke-width="10" stroke-linejoin="round"/>

</svg>

{% endmacro %}

{% macro svg_delete() %}

<svg class="svg-icon" viewBox="0 0 200 200">

<line x1="30" y1="60" x2="170" y2="60" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="60" y1="40" x2="140" y2="40" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="75" y1="80" x2="80" y2="150" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<line x1="125" y1="80" x2="120" y2="150" fill="transparent" stroke-width="10" stroke-linecap="round"/>

<polyline points="50 60, 60 170, 140 170, 150 60" fill="transparent" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>

</svg>

{% endmacro %}



{% macro svg_back_button() %}

<svg class="svg-icon" viewBox="0 0 200 200">

<line x1="30" y1="100" x2="170" y2="100" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="30" y1="100" x2="80" y2="50" stroke-width="10" fill="transparent" stroke-linecap="round"/>

<line x1="30" y1="100" x2="80" y2="150" stroke-width="10" fill="transparent" stroke-linecap="round"/>

</svg>

{% endmacro %}
